html {
    height: 100vh;
    overflow: hidden;

    body {
        margin: 0;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        #game-container {
            height: min(860px, 100vh);
            width: min(500px, 100vw);
        }
    }
}